.navbar{
    color: white;
    font-size: 14px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999999;
    background: linear-gradient(to top, transparent 0%, rgb(0,0,0,0.3) 50%);
    transition: 0.5s ease-in-out;
}
.scrolled{
    background-color: #0b0b0b;
    transition: 0.5s ease-in-out;
}
.container{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left{
    display: flex;
    align-items: center;
}
.container .left img{
    height: 60px;
    margin-right: 45px; 
}
.container .left span{
    margin-right: 45px;
    cursor: pointer;
}
.right{
    display: flex;
    align-items: center;
}
.container .right img{
    height: 30px;
    width: 30px;
    border-radius: 5px;
    object-fit: cover;
}
.container .right .icon{
    margin: 0px 15px;
    cursor: pointer;
}
.profile .options{
    display: none;
    background-color: #0b0b0b;
    border-radius: 5px;
}
.profile .options span{
    padding: 10px;
    cursor: pointer;
}
.profile:hover .options{
    display: flex;
    flex-direction: column;
    position: absolute;
}